@page
@model BookTrack.Pages.book.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.categoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.categoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.categoryType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.categoryType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
